<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <table>
    <thead>
      <tr>
        <th class="text-left">
          ColumnName
        </th>
        <th class="text-left">
          DataType
        </th>
        <th class="text-left">
          ColumnComment
        </th>
        <th class="text-left">
          ColumnKey
        </th>
        <th class="text-left">
          Extra
        </th>
      </tr>
    </thead>
    <tbody>
      <!-- <tr
        v-for="(columnList, key, index) in arr"
        :key="key"
      >
        <td :rowspan="columnList.length"  >{{key}}</td>

        <template v-for="column in columnList">
          <td>{{ column.columnName }}</td>
          <td>{{ column.dataType }}</td>
          <td>{{ column.columnComment }}</td>
          <td>{{ column.columnKey }}</td>
          <td>{{ column.extra }}</td>
        </template> -->
        <!-- <td v-for="column in columnList"></td> -->
        <!-- <td> <v-checkbox v-model="selected" :value="item.name" color="info" density="compact"></v-checkbox></td> -->

      <tr>
        <td rowspan="3">aaaa</td>
        <td>aabbbaa</td>
        <td>ddd</td>
        <td>ddd</td>
        <td>ddd</td>
      </tr>
      <tr>

        <td>ddd</td>
        <td>ddd</td>
        <td>ddd</td>
        <td>ddd</td>
      </tr>
      <tr>

        <td>ddd</td>
        <td>ddd</td>
        <td>ddd</td>
        <td>ddd</td>
      </tr>
    </tbody>
  </table>
</body>
</html>